<form (submit)="createObject()">
    <ng-container *ngIf="errors.length">
        <p *ngFor="let y of errors">{{y}}</p>
    </ng-container>
    <!-- <p *ngIf="formObject.title.length > 0 && formObject.title.length < 2">Invalid Title Length</p> -->
    
    
    <p>Name</p>
    <input type="text" name="formObject.name" [(ngModel)]="formObject.name">

    <p>Type</p>
    <input type="text" name="formObject.type" [(ngModel)]="formObject.type">

    <p>Description</p>
    <input type="text" name="formObject.description" [(ngModel)]="formObject.description">

    <hr>


    <p>Skills</p>
    Skill 1: <input type="text" name="formObject.skills[0].skill" [(ngModel)]="formObject.skills[0].skill">
    Skill 2: <input type="text" name="formObject.skills[1].skill" [(ngModel)]="formObject.skills[1].skill">
    Skill 3: <input type="text" name="formObject.skills[2].skill" [(ngModel)]="formObject.skills[2].skill">
    <!-- <button type="submit" [disabled]="formObject.title.length < 2">Submit</button> -->
    <button type="submit">Submit</button>

</form>