
<form (submit)="updateObject()">
    <ng-container *ngIf="errors.length">
        <p *ngFor="let y of errors">{{y}}</p>
    </ng-container>


    <p>Name</p>
    <input type="text" name="formObject.name" [(ngModel)]="formObject.name">

    <p>Type</p>
    <input type="text" name="formObject.type" [(ngModel)]="formObject.type">

    <p>Description</p>
    <input type="text" name="formObject.description" [(ngModel)]="formObject.description">


    <p>Skills</p>
    Skill 1: <input type="text" name="formObject.skills[0].skill" [(ngModel)]="formObject.skills[0].skill">
    Skill 2: <input type="text" name="formObject.skills[1].skill" [(ngModel)]="formObject.skills[1].skill">
    Skill 3: <input type="text" name="formObject.skills[2].skill" [(ngModel)]="formObject.skills[2].skill">
    
    <button type="submit">Submit</button>

</form>


