<table>
    <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Actions</th>
    </thead>
    <tr *ngFor="let x of objects">
        <td>{{x.name}}</td>
        <td>{{x.type}}</td>
        <td>{{x.description}}</td>
        <!-- <td><img src="{{x.url}}" alt="" (click)="selectNester(x)"></td> -->
        <td>
            <button [routerLink]="['/read', x._id]">View</button> |
            <button [routerLink]="['/edit', x._id]">Edit</button> |
            <button (click)="deleteObject(x._id)">Delete</button>
        </td>
    </tr>
</table>
